.mainContainer {
    padding: 10px;
}
.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerContainer .title {
    font-size: 16px;
}
.bottomLine {
    opacity: 0.4;
    color: grey;
    margin-bottom: 5px;
}
.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.firstCellFlex {
    display: flex;
    align-items: center;
}
.firstCellFlex .driverImgCont {
    width: 40px;
    height: 40px;
    border: 3px solid;
    border-radius: 50%;
}
.firstCellFlex img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.firstCellInfo {
    margin-left: 10px;
}

.headerFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.productName {
    text-transform: capitalize;
}
.productCat {
    text-transform: capitalize;
    font-size: 12px;
}

.forecastCont {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
